# =====================================
# Python
# =====================================

__pycache__/
*.py[cod]

# =====================================
# VS Code
# =====================================

.vscode/

# =====================================
# Jupyter
# =====================================

.ipynb_checkpoints/

# =====================================
# Virtual environments
# =====================================

venv/
.venv/
env/
cv/

# =====================================
# Data
# =====================================

data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

# =====================================
# Outputs
# =====================================

outputs/*

!outputs/figures/
!outputs/figures/.gitkeep

# =====================================
# Logs
# =====================================

*.log